@import "./phoenix.css";

:root {
  --light-green: #36e48c;
  --dark-green: #114b3f;
  --orange: #ff330d;
  --light-orange: #ff7e63;
  --gray:  #c5c5c5;
  --dark-gray:  #555555;
}

.error {
  color: var(--orange);
}

.hide {
  display: none;
}

.flex-1 {
  flex: 1;
}

.flex-4 {
  flex: 4;
}

input:focus {
  outline: none !important;
  border-color: var(--light-green) !important;
}


button.cancel {
  background-color: var(--orange);
}

button.cancel:hover {
  background-color: var(--light-orange);
  color: black;
}

button {
  background-color: var(--dark-green);
  margin: 0 5px;
}

button:hover {
  background-color: var(--light-green);
  color: black;
}

@keyframes blink-in {
  from { background-color: white; }
    to { background-color: var(--orange); }
}

@keyframes blink-out {
  from { background-color: var(--orange); }
    to { background-color: white; }
}

header.reception {
  display: flex;
}

header.reception img {
  width: 75px;
}

header.reception h1 {
  text-align: center;
  margin-top: 20px;
}

.checked-in {
  animation: blink-in 0.5s;
  animation: blink-out 0.5s;
}

.check-in {
  text-align: center;
}

.check-in h1{
  margin-bottom: 80px;
}

.check-in input {
  height: 80px;
  font-size: 24pt;
}

.check-in button {
  display: block;
  margin: auto;
}

.empty-list-note {
  text-align: center;
  color: var(--dark-gray);
  font-size: 1.25em;
}

label.error {
  color: red;
} 

ul {
  list-style: none;
}

ul li {
  border: solid 1px var(--gray);
  border-bottom: 0;
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
}

ul li:first-child {
  border-radius: 5px 5px 0 0;
}


ul li:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: solid 1px var(--gray);
}

ul li:only-child {
  border-radius: 5px;
  border: solid 1px var(--gray);
}

ul li.clickable:hover {
  background-color: var(--light-green);
  cursor: pointer;
}

ul li .name {
  flex: 2;
}

ul li .school {
  flex: 3;
}

ul li .progress {
  flex: 1;
}

span.label {
  font-weight: bold;
  margin-right: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
  background-color: rgba(189, 195, 199, 0.75);
}

.modal-body {
  background-color: white;
  box-shadow: 10px 5px 20px rgba(189,195,199, 1);
  padding: 10px;
  border-radius: 10px;
  border: solid 1px var(--gray);
}

.modal-body ul {
  margin-top: 10px;
}

.admin {
  padding: 20px;
}

.admin .filters {
  display: flex;
  align-items: center;
}

.admin .filters>label {
  flex: 1;
  margin: 10px;
  text-align: right;
}

.admin .filters>input {
  flex: 3;
}

.admin .results {
  padding: 50px;
  display: flex;
  gap: 20px;
}

.results .panel {
  border: solid 1px var(--gray);
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  flex: 1;
}

.results .panel dl {
  text-align: left;
}

.admin .panel h1 {
  font-size: 4em;
}


