<div class="container check-in">
  <img src="/images/stop_to_live.jpeg" />
  <form class="center" phx-change="validate" phx-submit="check_in">
    <%= if @error do %>
      <label class="error" for="name"><%= @error %></label>
    <% end %>
    <input autocomplete="off" placeholder="Enter your name" type="text" name="name" value={@name} />
    <button>Check In</button>
  </form>
</div>
