<h1><%= @school.name %></h1>

<div class="container">
  <h2>Students</h2>
  <ul>
    <li class="student" :for={student <- @students}>
      <div><.link navigate={"/student/#{student.id}"}><%= student.name %></.link></div>
      <div>Lessons complete: <%= Enum.count(student.lessons) %></div>
    </li>
  </ul>
</div>
